.card-footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eee;
    text-align: center;
    padding: 10px 20px;
}

.card-footer-likes h3 {margin-bottom: 0;}

.card-footer-likes p {
    margin-top: 3px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.card-body-img {
    border-radius: 50%;
}

h2.card-body-title {
    margin-bottom: 0;
}

p.card-body-text {
    margin-top: 8px;
}

body {background-color: #000;}